.action-buttons {
  text-align: center;
}

.action-buttons li {
  display: inline-block;
  line-height: .7;
  margin-right: 5px;
  font-size: 1.1em;
}

.x-form-display-field {
  height: 20px;
  line-height: 20px;
  padding: 6px;
}

.treehillstudio_about {
  cursor: pointer;
  height: 40px;
  opacity: 0.25;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.treehillstudio_about:hover {
  opacity: 1;
}

.treehillstudio_about .x-panel-body {
  text-align: right;
}

.treehillstudio_window a {
  color: #849125;
  text-decoration: none;
}

.treehillstudio_window a:hover {
  color: #4d5415;
}
